html{
  font-size: 62.5%;
}
ul,li{
  display: block;
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

/* header */
.header-container{
  position: fixed;
  width: 100%;
  color: #000;

  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* background-color: #F5FAFE; */
  z-index: 1000;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 7rem 9.8rem 0;
  border-radius: 3rem;
  background: #FFF;
  z-index: 100;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  
}
.header-wrap h1{
  margin-left: 4.4rem;
}
.g-navi{
  margin-right: 3.8rem;
}
.g-navi ul{
  display: flex;
  gap: 2.5rem;
}
.g-navi a{
  display: block;
  padding: 0.8rem 0;
  width: 100%;
  height: 100%;
}
.inquiry-btn{
  display: block;
  width: 14.1rem;
  height: 3.1rem;
  border-radius: 1.55rem;
  background: #0D6BCF;
  box-shadow: 0.4rem 0.4rem 0.29rem -0.1rem rgba(0, 0, 0, 0.25);
  align-self: center;
}
.inquiry-btn a{
  display: flex; 
  justify-content: center;
  align-items: center;   
  color: #FFF;
  width: 14.1rem;
  height: 3.1rem;
  border-radius: 1.55rem;
}

/* header */






/* main */
main{
  background-color: #F5FAFE;
}
.inquiry-tabu{
  position: fixed;
  margin-top: 52rem;
  right: 0;       
  transform: translateY(-50%); 
  z-index: 10;
}
.inquiry-tabu-btn{
  width: 80px;
  height: 284px;
  border-radius: 50px 0px 0px 50px;
  background: #0D6BCF;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.inquiry-tabu-btn a{
  /* background-color: tomato; */
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  writing-mode: vertical-rl;
}




.top-img {  
  height: 70rem;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 0, 0, 0) 100%),
    url(../img/top-bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, 130% top; 
  background-size: cover, contain; 
}
.top-wrap {
  background-color: #F5FAFE;
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.top-text {
  width: fit-content;
  padding-top: 23.9rem;
  margin: 0 auto 0; 
  text-align: center;
}

.top-wrap h1{
  color: #005EA5;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.6rem;
}
.overview p{
  color: #7E6F6F;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  }
.overview-btn{
  display: block;
  width: 14.1rem;
  height: 3.1rem;
  border-radius: 1.55rem;
  margin: 1.7rem auto 0; 
  background: #0D6BCF;
  box-shadow: 4px 4px 2.9px -1px rgba(0, 0, 0, 0.25);
  align-self: center;
}
.overview-btn a{
  display: flex; 
  justify-content: center;
  align-items: center;   
  width: 14.1rem;
  height: 3.1rem;
  border-radius: 1.55rem;
  color: #FFF;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Businesscontent{
  margin-top: 5.4rem;
  width: 45rem;
  height: 15.4rem;
  border-radius: 3.3rem;
  background: #CEE6FF;
}
.Businesscontent p:first-child {
  border: 1px solid black;
  display: flex;            
  align-items: center;      
  justify-content: center;  
  width: 45rem;
  height: 4.6rem;
  border-radius: 3.3rem 3.3rem 0 0;
  background: #1B64B2;
  color: #fff;           
  margin: 0 auto;         
  font-size: 1.6rem;   
}

.Businesscontent-btn{
  display: flex;
  align-items: center;       
  justify-content: center;   
  width: 34.3rem;
  height: 3.7rem;
  border-radius: 1.85rem;
  margin: 3.9rem auto 0;
  background: #FFF;
  box-shadow: 0.4rem 0.6rem 0.23rem 0rem rgba(0, 0, 0, 0.25);
}
.Businesscontent-btn a{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;      
  justify-content: center;  
  color: #686868;   
  border-radius: 1.85rem;
  text-align: center;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* main */